name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 15 * * 1'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 21
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@v1
    - run: sbt -v "+ scalafmtCheckAll" scalafmtSbtCheck "+test"
